.Wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.LeftSide {
  display: flex;
  align-items: center;
}

.Title {
  text-transform: uppercase;
  font-size: 37px;
  font-weight: bold;
  margin: 0 0 0 -10px;
}

.Img_Logo {
  transform: scale(0.8);
}

.Img_Vector {
position: absolute;
left: 93%;
top: 10.7%;
transform: scale(0.6)
}

.Sorted_select {
  border-radius: 7px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0,0,0,0.25);
  color: rgb(121,121,121);  
  padding: 3px;
}

.Sorted_select:hover {
  color: #fff;
  background-color: rgb(33,150,243);
  border-color: rgb(33,150,243);
  transition: all 0.1s ease;
}
