.SignIn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 100px;
}

.SignUp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 100px;
}